body{
    font-family:'Courier New', Courier, monospace;
    background-image: url(../Lezione\ 1/Immagini/sfondogradiente.jpg);
}

h1{
    color: white;
    padding: 20px;
    font-size: 40px;
    text-decoration: underline;
}

nav ul{
    list-style-type: disc;
    color: white;
    font-weight: bold;
    font-size: larger
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover{
    color: rgb(18, 103, 142);
}

footer{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    position: relative;
}